<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rishi Singh | Java Full Stack Developer</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header class="header" id="home">
    <nav class="navbar">
        <h1 class="logo">
            <img src="img/RishiLogo.png" alt="Rishi Logo" style="height: 40px; vertical-align: middle;" />
        </h1>

        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#certifications">Certifications</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="hero-content">
        <img src="img/RishiSort.png" alt="Rishi Singh" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 20px;" />

        <h2>Hi, I'm Rishi Singh</h2>
        <p>A passionate <strong>Java Full Stack Developer</strong> or<strong> Java Developer</strong></p>
        <a href="#contact" class="btn">Let's Connect</a>
    </div>
</header>

<section id="about" class="section">
    <h2>Career Objective</h2>
    <p>Motivated Java <strong>Full Stack Developer or Java Developer </strong> with hands-on experience in <strong>Spring Boot, RESTful APIs, MySQL, HTML/CSS, JavaScript, Thymeleaf </strong> and <strong> React js</strong>. Passionate about building secure, scalable web applications and solving real-world problems. Eager to contribute to a dynamic development team and grow as a skilled software engineer.</p>
</section>

<section id="education" class="section">
    <h2>Education</h2>
    <ul>
        <li><strong>MCA (7.18 CGPA)</strong> - SAGE University, Indore (2024–2026)</li>
        <li><strong>BCA (72%)</strong> - Dr. Ram Manohar Lohiya Avadh University, Ayodhya (2020–2023)</li>
        <li><strong>12th </strong> - Unique Science Academy, Basti (2020)</li>
    </ul>
</section>

<section id="skills" class="section">
    <h2>Technical Skills</h2>
    <ul class="skills-list">
        <li><strong>Languages:</strong> C, Core Java, J2EE, DSA</li>
        <li><strong>Backend Frameworks:</strong> Spring Boot, Hibernate, Spring Security, OAuth2, JWT, Microservices</li>
        <li><strong>Frontend:</strong> HTML5, CSS3, JavaScript, Tailwind CSS, React.js (basic), Thymeleaf</li>
        <li><strong>Database:</strong> MySQL, Hibernate ORM</li>
        <li><strong>Tools:</strong> Git, Postman, Swagger, Cloudinary, Docker, Jenkins, AWS EC2 (Basic)</li>
    </ul>
    <ul class="skills-list">
        <li>Soft Skills: Leadership, Teamwork, Problem Solving, Communication</li>
    </ul>
</section>

<section id="experience" class="section">
    <h2>Experience</h2>

    <div class="experience-item">
        <h3>Java Full Stack Intern – Ypsilon IT Solutions Pvt. Ltd. Indore (Aug 2024 – Jan 2025) </h3>  <p><a href="https://www.linkedin.com/posts/rishi-singh-in_internship-java-springboot-activity-7322878511625441280-06vL?utm_source=share&utm_medium=member_desktop&rcm=ACoAADhm-7wB-VoPytoqH_tPbDQjMRV9bsyRBoc">Link</a></p>
        <ul>
            Engaging in an internship focused on acquiring practical skills in Java full-stack development.
            Developed backend services using Java, Spring Boot, and Hibernate with MySQL integration.
            Implemented Spring Security with JWT authentication and OAuth-based login.
            Built RESTful APIs using Spring MVC, integrated with Tailwind CSS, Thymeleaf, JavaScript, for frontend development.

        </ul>
        <ul>
            <h3> Digital Contact Manager Web App | Full Stack App |</h3>  <p><a href="https://github.com/Rishisingh96/DigitalContectManagerApp.git">GitHub</a></p>
            •	Developed a secure DCM Web Application with user authentication (email verification, Google & GitHub login) and cloud-based image storage using Cloudinary.
            •	Integrated features like advanced search, pagination, Excel export, dark/light themes, and direct email with attachments.
            •	Built using Spring Boot, Spring Security, Spring Data JPA, MySQL, Thymeleaf, JavaScript, and Tailwind CSS for a responsive user experience.
        </ul>
    </div>

    <div class="experience-item">
        <h3>Spring Boot Mastery Training  – By Durgesh Sir  (6 Months) </h3> <p> <a href="https://www.linkedin.com/posts/rishi-singh-in_certificate-of-spring-boot-real-time-project-activity-7288853899736690688-vZBd?utm_source=share&utm_medium=member_desktop&rcm=ACoAADhm-7wB-VoPytoqH_tPbDQjMRV9bsyRBoc">Link</a></p>
        <ul>
            Completed a deep-dive course on Spring Boot covering MVC, Security, JPA, OAuth, and Microservices.
            Built a full-stack <strong>Electronic Store Project</strong> from scratch using REST API, JWT, and Swagger documentation.
        </ul>
    </div>

    <div class="experience-item">
        <h3>Core Java Intern – Oasis Infobyte (1 Month)</h3>
        <ul>
            Completed hands-on training on Core Java concepts including OOPs, File Handling, and Collections.
            Built a <strong>Java-based Console Project</strong> as part of the internship training module.
        </ul>
    </div>
</section>

<section id="projects" class="section">
    <h2>Projects</h2>
    <div class="project-card">
        <h3>RoomUnity - Room Partner Finder (Apr 2025 - Present) | <p><a href="https://github.com/Rishisingh96/RoomParterFinderApp.git">Github</a></p></h3>
        <p>
            Developed RoomUnity, a secure web app for matching roommates using smart filters (location, food, occupation, college, religion, age etc.)
            and after finding suitable roommate then also show nearest PGs/Rooms /Hostels. This project addresses a real -world problem by helping users find ideal roommates based on their preferences.
            Implemented OAuth2 login (Google/GitHub), email verification, and privacy-focused communication features (WhatsApp, call, email after match).
            Integrated real-time notifications, Cloudinary image uploads, Google Maps to enhancing user engagement and trust.
            Tech Stack: Spring Boot, Spring Security, MySQL, Thymeleaf, Tailwind CSS, JavaScript – built with scalability, responsiveness, and user-first design.
        </p>
    </div>

    <div class="project-card">
        <h3>Electronic Store App (May 2024 - Nov 2024) |  <p><a href="https://github.com/Rishisingh96/Electronic-Store-App.git">GitHub</a></p> </h3>
        <p> Developed a e-commerce web Restful API with 6 key modules like User, Product, Category, Role, Order, Cart)
            using Spring Boot (backend) and React with Axios (frontend) for seamless integration.
            Implemented JWT, OAuth (Google Login), refresh tokens, and RBAC to secure user authentication
            and admin functionalities like product and category management.
            Features include product CRUD, filtering, sorting, cart operations, and Swagger for API documentation.
            Used Spring Boot, Hibernate/JPA and MySQL for data management and Basic React.
        </p>
    </div>
    <div class="project-card">
        <h3>Microservices Project (May 2025 - Present) </h3>
        <p>In-progress e-commerce platform using microservices architecture, Spring Cloud, Eureka, and API Gateway.</p>
    </div>
</section>


<section id="certifications" class="section">
    <h2>Certifications & Trainings</h2>
    <ul>
        <li>Java Development - Universal Informatics (Aug–Oct 2024) | <p><a href="https://www.linkedin.com/posts/rishi-singh-in_java-advancedjava-j2ee-activity-7321906301221949440-8kwQ?utm_source=share&utm_medium=member_desktop&rcm=ACoAADhm-7wB-VoPytoqH_tPbDQjMRV9bsyRBoc">Link</a></p></li>
        <li>Spring Boot Real Time Project - LearnCodeWithDurgesh (Feb–Nov 2024) </li>
        <li>DSA with Java - Apna College (Nov 2024 – Present)</li>
    </ul>
</section>

<section id="contact" class="section">
    <h2>Contact Me </h2>
    <p>Contact No : <strong >7800017055</strong></p>
    <p>Email: <a href="mailto:rishicoding9838@gmail.com">rishicoding9838@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/rishi-singh-in">linkedin.com/in/rishi-singh</a></p>
    <p>GitHub: <a href="https://github.com/Rishisingh96">github.com/Rishisingh96</a></p>
    <p>Portfolio: <a href="https://rishisingh96.github.io/Personal-Port-Folio/">RishisinghPersonalPortFolio</a></p>
</section>

<footer class="footer">
    <p>© 2025 Rishi Singh | Java Full Stack Developer</p>
</footer>

<script src="script.js"></script>
</body>
</html>
